@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.navbar-heading {
    font-size: 40px;
    font-family: Trebuchet MS;
    margin: 10px;

}

.navbar-logo {
    height: 45px;
    width: 45px;
    border-radius: 10px;

}

.custom-bg {
    background-image: linear-gradient(to left, #ff9419, #E1F5FE);
}

.items {
    font-family: Trebuchet MS;
    font-weight: bold;

}

.banner-section-bg-container {
    background-image: url('https://i.pinimg.com/736x/ce/e7/af/cee7afefa9509527a398ad7171a46545.jpg');
    background-size: cover;
    height: 100vh;
}

.banner-heading {
    color: white;
    font-weight: 100;
    font-weight: bold;
    font-family: Trebuchet MS;
}

.banner-caption {
    color: white;
    font-family: Trebuchet;
}

.features {
    color: brown;
    font-family: Trebuchet MS;
    font-size: 40px;
    font-size: 28px;
    font-weight: 700;
}

.custom-button {
    color: white;

    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
}

.custom-outline-button {
    background-color: transparent;
    border-radius: 12px;
    padding: 10px;
}

.features-img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.fea-desc {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 10px;
    background-image: radial-gradient(white, #f2a73d);


}

.fea-heading {
    font-family: Times New Roman;
    color: #ff9900;

    font-size: 28px;
    font-weight: 900;
}

.fea-head-desc {
    font-family: googleapis;

}

.menu-item-card {
    background-image: linear-gradient(to top, #f5bb64, gold);
}

.explore-menu-section {
    background-color: white;
}

.menu-section-heading {
    color: brown;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.menu-item-image {
    border-radius: 16px;
}

.menu-card-title {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
    margin-top: 24px;
}

.menu-item-link {
    color: #3d2500;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
}

.menu-item-card {
    border-radius: 16px;
}

.pricing-head {
    color: brown;
    font-weight: 800;
    font-family: Trebuchet MS;
}

.pricing-img {
    width: 100%;
    border-radius: 20px;
}

.pricing-desc {
    font-family: Serif;

    font-weight: bold;
}

.form-card {
    background-image: linear-gradient(to bottom, #ff7403, #f5b402);
    border-radius: 60px;
    padding: 20px;

}

.delivery-and-payment-section {
    background-color: white;
}

.delivery-and-payment-section-img {
    width: 270px;
}

.delivery-and-payment-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.delivery-and-payment-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}

.payment-card-img {
    width: 50px;
    height: 50px;
    margin-right: 28px;
}

.custom-button {
    color: white;
    background-color: #d0b200;
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
}

.bg-pay {
    background-image: radial-gradient(white, #e8d9c3);
    padding: 10px;
    border-radius: 30px;
}

.bg-contact {
    color: white;
    font-family: Trebuchet MS;




    background-image: linear-gradient(to left, #ff8800, #ed9d42);
}

#sectioncontactus {
    background-image: linear-gradient(to left, #ff8800, #ed9d42);
}

.heading {
    color: white;
    font-weight: bold;
    font-family: Trebuchet MS;
    font-size: 25px;
}

.desc-text {
    font-family: Trebuchet;
    color: silver;

}

.frm-heading {
    font-size: 50px;
    font-family: Trebuchet MS;
    color: indianred;
}

#cc {
    color: black;
    font-family: Caveat;
    font-size: 20px;
}

#fname {
    text-align: left;

}
.delivery-img{
    width : 30px;
    height:30px ;

}


.frm-name {
    text-align: left;
    font-family: Georgia;
    font-weight: 300;
}

#frm {
    font-family: Trebuchet MS;
    color: brown;
    border-radius: 12px;
    padding: 8px;
    font-size: 24px;

}